.App {
  text-align: center;
}

a {
  color: rgb(255,55,95);
}

/* CUSTOM */

/* Navbar */
.logo {
  color: rgb(48,209,88)!important;
}

.navBar {
  background-color: rgb(28,28,30)!important;
}

/* Search field rounding */
@media (min-width: 1000px) {
  #search-input {
    width: 60%;
  }
}

.search-button {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
}

.search-field {
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.selected-filter {
  color: rgb(52,199,89)!important;
}

.selected-filter:hover {
  color: rgb(48,209,88)!important;
}

/* Gallery */
.gallery {
  width: 100vw;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Image card css */
.image-card {
  display: inline-block;

  max-width: 95%;

  margin: 1em;
  padding: 1em 1em 0.75em 1em;
  /* border-radius: 8px; */
  border: 1px solid rgb(52,199,89);

  transition: 0.5s;
}

.image-card:hover {
  background-color: rgb(52,199,89);
}

.image-card img {
  max-width: 100%;
  max-height: 560px;

  transition: 0.5s;
}

.image-card p {
  display: flex;
  margin: 0.5em 0 0 0;
  padding: 0.5em;

  justify-content: space-between;

  color: rgb(224,224,226);
  background-color: rgb(28,28,30);
}

/* Card info */
.card-info {
  position: absolute;
  max-width: 95%;
  max-height: 100%;
  z-index: 100;

  font-size: 1em;

  background-color: rgb(28,28,30);
  /* border: 1px solid rgb(48,209,88) */
}

.card-info p {
  margin: 0.5em 0.5em 0.5em 0;
  /* background-color: rgb(28,28,30); */
}

/* Hidden els */

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}